{% extends 'base.html.twig' %}
    {% block body %}
        <br/><br/>
      <div class = "jumbotron">
        <h1><mark>Aide:</mark></h1>
        <br/><br/>

        <p class = "lead">
            <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;">
            DiéBlog est un blog avec un système de commentaire.<br/>
            Le blog possède des articles rangés en fonction de leurs dates de publications,les articles les plus récent en premier.<br/>
            -Vous avez la possibilité de créer un article et devra à chaque fois remplire obligatoirement tous les champs pour créer un article.<br/>
            <mark>NB:</mark>Sauf le champ pour l'image d'illustration qui est facultative.<br/>
            -Catégorisez ton article afin que les visiteurs accèdent facilement aux informations recherchées.<br/>
                Merci!
            </font> </font>
        </p>
      </div> 
       
    {% endblock %}