{% extends 'base.html.twig' %}

    {% block body %}
      <h1><mark>Aide :</mark></h1>

        Un « blog » (en français blogue, journal web ou carnet web) est un site web personnel qui permet à un internaute de mettre facilement et simplement des informations en ligne sous forme de journal. Le terme « blog » est la contraction de « weblog » (au même titre, «blogue» est la contraction de «weblogue»). 

        Le blog est donc une page web, qui s'appuie généralement sur un outil dynamique de publication permettant de gérer la mise en page du contenu, dans laquelle l'auteur publie des actualités, des liens vers d'autres blogs ou sites web, des photos ou de courts textes de sa création. Sur un blog, les brèves, appelées notes ou billets, sont publiées dans un ordre antéchronologique, c'est-à-dire que les billets les plus récents sont affichés en haut de page, puis suivent les messages les plus anciens.


        Ce qui fait la sigularité d'un blog, c'est notamment la possibilité aux lecteurs de réagir aux articles publiés, ce qui offre aux blogs une grande réactivité et une grande richesse.

        
    {% endblock %}